body {
    background-color: #f39494;
}

main {

}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    font-family: Open Sans;
    letter-spacing: 0%;
    text-align: center;   
}