
*,
*::before,
*::after {
    box-sizing: border-box;
}


.layout {
    width: 1440px;
    height: 1024px;
    background:
        linear-gradient(180deg, #FFA5A5 0%, #FFFFFF 100%),
        linear-gradient(135deg, #F298DE 0%, #FDC5C5 100%),
        #F39494;
    margin: 0 auto;
}
    
    
    



/* main {
background-color: #FFFEFE;
width: 582px;  
height: 573px;
top: 225px;
left: 429px;
border-radius: 10px;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    font-family: Open Sans;
    letter-spacing: 0%;
    text-align: center;   
}
 */
